<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhishekkumar.ims">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginScreen_Faculty" />
        <activity android:name=".welcomeScreen_F" />
        <activity android:name=".addStudentForm" />
        <activity android:name=".creategroup" />
        <activity android:name=".spinnerItemSelected" />
        <activity android:name=".grpMail" />
        <activity android:name=".LoginScreen_Student" />
        <activity android:name=".welcomwscreen_S" />
        <activity android:name=".shownotice" />
        <activity android:name=".insertNotice"></activity>
    </application>

</manifest>